.subtitle {
    color: var(--color-primary);
    text-transform: uppercase;
    font-family: var(--font-secondary);
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
    display: block;
    letter-spacing: 1px;
}
.title {
    color: var(--color-body-light);
    text-transform: capitalize;
    font-family: var(--font-secondary);
    font-size: 34px;
    font-weight: 700;
}
.titleWrapper {
    margin-bottom: 50px;
    text-align: center;
}


@media (min-width: 991px) {
    .subtitle {
        font-size: var(--subtitle-font-size);
    }
    .title {
        font-size: var(--title-font-size);
    }
    .textleft {
        text-align: left;
    }
}