.header {
    padding: 15px 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tittleWrapper {
    text-align: left;
}

.title {
    font-family: var(--font-primary);
    color: var(--color-body-light);
    text-transform: capitalize;
}

.subtitle {
    font-family: var(--font-secondary);
    color: var(--color-body);
    font-size: 14px;
}

.badge {
    padding: 7px 12px;
    color: var(--color-primary);
    box-shadow: var(--shadow-1);
    border-radius: 5px;
}

.body {
    font-family: var(--font-primary);
    color: var(--color-body);
    font-size: 18px;
    margin-top: 25px;
}
.timeCard {
    position: relative;
    margin-bottom: 50px;
}
.timeCard:hover::before {
    background: var(--color-primary);
}
.timeCard::before {
    content: "";
    width: 20px;
    height: 20px;
    background: var(--background-color);
    border: 5px solid #16181c;
    left: -46px;
    top: 55px;
    border-radius: 50%;
    display: block;
    position: absolute;
    z-index: 1;
    transition: 0.3s;
}
.timeCard::after {
    content: "";
    width: 29px;
    height: 5px;
    background: #16181c;
    border: none;
    right: 100%;
    top: 63px;
    display: block;
    position: absolute;
    z-index: 1;
}