.box {
    position: relative;
    background-color: var(--background-color);
    box-shadow: var(--shadow-1);
    padding: 35px;
    color: var(--color-body-light);
    border-radius: 10px;
    transition: 0.4s;
    /* height: 300px; */
}
.header {
    padding: 15px 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tittleWrapper {
    text-align: left;
    margin-bottom: 20px;
}

.title {
    font-family: var(--font-primary);
    color: var(--color-body-light);
    text-transform: capitalize;
}

.subtitle {
    font-family: var(--font-secondary);
    color: var(--color-body);
    font-size: 14px;
}

.badge {
    padding: 7px 24px;
    color: var(--color-primary);
    box-shadow: var(--shadow-1);
    border-radius: 5px;
    font-size: 30px;
    font-weight: 600;
    margin-top: 25px;
}

.body {
    font-family: var(--font-primary);
    color: var(--color-body);
    font-size: 18px;
    margin-top: 25px;
}
.contentCard {
    position: relative;
    margin-bottom: 50px;
}
.contentCard:hover::before {
    background: var(--color-primary);
}
@media (min-width:768px) {
    .header {
        flex-direction: row;
        align-items: center;
    }
    .badge {
        margin-top: 0;
    }
    .tittleWrapper {
        margin-bottom: 0;
    }
}